#wpadminbar .bubble {
    background: #D54E21;
    color: #fff;
    font-size: 9px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 0 6px;
    line-height: 17px;
}