.shortcode__title {
	border-left: solid 3px;
	padding: 0 0 0 15px;
	margin-bottom: 24px;
}

.shortcode__title h3 {
	margin-bottom: 0;
}

.shortcode__title small {
	font-size: 13px;
	color: #777;
}

.term-list-shortcode--icon .term-block {
	display: flex;
	background: #f1f1f1;
	color: inherit;
}

.term-list-shortcode--icon .term-block:hover * {
	color: #fff;
	background: #777;
}

.term-list-shortcode--icon .block__icon {
	font-size: 32px;
	width: 80px;
	text-align: center;
	line-height: 80px;
	background: #e9e7d7;
	border-radius: 5px 0 0 5px;
}

.term-list-shortcode--icon .block__content {
	font-size: 18px;
	flex: 1;
	display: flex;
	padding: 0 10px;
	border-radius: 0 5px 5px 0;
}

.term-list-shortcode--icon .block__content span {
	margin: auto 0;
}

.term-list-shortcode--icon .shortcode__content {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
	.term-list-shortcode--icon .shortcode__content {
		grid-template-columns: 1fr;
	}
}

.term-list-shortcode--list .shortcode__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-gap: 10px;
}

.term-list-shortcode--list .term-block {
	color: inherit;
}

.term-list-shortcode--list .term-block i, .term-list-shortcode--list .term-block span {
	color: #aaa;
}

#wpadminbar .bubble {
	background: #D54E21;
	color: #fff;
	font-size: 9px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	padding: 0 6px;
	line-height: 17px;
}
